@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import '../styles/commonClasses.css';
@import '../styles/variable.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Nunito', sans-serif !important;
  overflow-x: hidden;
}

.demo::-webkit-scrollbar{
  width:0;
}
